* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
}
body {
	background: #eee;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.timer {
	font-size: 25px;
	text-align: center;
	margin-bottom: 28px;
	background-color: rgb(0, 3, 23);
	color: white;
	padding: 0.4rem 0;
}

header {
	background: linear-gradient(120deg, #58194e, #ab4182 130%);
	position: relative;
	display: block;
	padding: 18px 2rem;
	width: 100%;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
	color: #fff;
	font-weight: 200;
}
/* /////////// */

.note-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.note {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Comic Neue", sans-serif;
	position: relative;
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 2px 5px #ccc;
	padding: 10px;
	width: 240px;
	margin: 16px;
	float: left;
	transition: all 0.5s ease-out;
}

.note h1 {
	text-transform: uppercase;
	font-size: 1.2rem;
	margin-bottom: 0.6rem;
	color: #4a1942;
}
.note p {
	color: rgb(0, 0, 0);
	font-weight: 400;
	font-size: 0.9rem;
	margin-bottom: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.card-btn-wrap {
	display: flex;
	justify-content: flex-end;
}

.card-btn-wrap button {
	width: 27px;
}

.input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2.5rem;
}

.input-card {
	position: relative;
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 2px 5px #ccc;
	padding: 10px;
	width: 240px;
	margin: 16px;
}

.input-card input[type="text"] {
	font-family: monospace;
	box-sizing: border-box;
	width: 70%;
	padding: 0.5rem;
	border: none;
	font-size: 1rem;
	margin-bottom: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
	background: transparent;
	text-transform: capitalize;
}

.input-card input:nth-child(2) {
	width: 100%;
	text-transform: none;
	font-size: 0.8rem;
}

.input-card input:focus {
	border: none;
	outline: none;
}

.submit-btn {
	font-family: inherit;
	font-weight: 700;
	position: absolute;
	bottom: -15px;
	right: 22px;
	background-color: #702759;
	/* box-shadow: 5px 5px 0px rgb(116, 116, 116); */
	color: white;
	padding: 8px 12px;
	font-size: 0.8rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;

	cursor: pointer;
	border-radius: 4px;
	border: 1px solid white;
	transition: all 0.3s ease-out;
	text-transform: capitalize;
}

.submit-btn:hover {
	box-shadow: 5px 5px 0px rgb(116, 116, 116);
}

.submit-btn:active {
	box-shadow: none;
}

footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}

footer p {
	color: rgb(255, 255, 255);
	background-color: #45133c;
	font-size: 0.8rem;
	padding: 1rem;
}

.page-container {
	position: relative;
	min-height: 87vh;
}

.content-wrap {
	/* position: absolute; */
	padding-bottom: 2.5rem;
	width: 100%;
}
